<h1>New Landmark</h1>

<%= form_for @landmark do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :kind %>
  <%= f.number_field :kind %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :build_year %>
  <%= f.text_field :build_year %>

  <%= f.label :entrance_fee %>
  <%= f.text_field :entrance_fee %>

  <%= f.submit "Create" %>
<% end %>